<div class="marketing" id="working-on-it">
  <h1>Adding tracks to the playlist...</h1>
  <div class="row">
    <div class="span4 offset4">
      <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>
    </div>
  </div>  
</div>

<div class="marketing hide" id="done">
  <a href="/"><h1 style="font-size: 200px; font-weight: bold;">DONE!</h1></a>
</div>